version: '3.8'
services:
  fastapi:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
    #environment:
    volumes:
      - ./app:/code/
    stdin_open: true
    tty: true
    depends_on:
      - postgres

  postgres:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      - DATABASE_HOST=127.0.0.1
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=root
  
  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - 8090:80
    depends_on:
      - postgres